﻿@model IEnumerable<Avala.Spine.Web.Models.PersonModel>
@{
    ViewBag.Title = "Basic";
    var javascriptSerializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}

<h2>Basic</h2>
<div id="person-app">
    <div id="person-page">
        <table>
            <thead>
                <tr>
                    <th>First Name</th><th>Last Name</th><th>Email Address</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="person-edit-page">
        <a href="#" class="save-button">Save</a>
        <a href="#" class="cancel-button">Cancel</a>
        <ul>
            <li><label>First Name:</label><input type="text" class="first-name-input" /></li>
            <li><label>Last Name:</label><input type="text" class="last-name-input"  /></li>
            <li><label>Email Address:</label><input type="text" class="email-input"  /></li>
        </ul>
    </div>
</div>

<script type="text/x-jquery-tmpl" id="person-row-template">
    <td>${FirstName}</td>
    <td>${LastName}</td>
    <td>${EmailAddress}</td>
</script>
<script type="text/javascript" src="/scripts/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/scripts/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="/scripts/spine/spine.js"></script>
<script type="text/javascript" src="/scripts/spine/route.js"></script>
<script type="text/javascript" src="/scripts/spine/manager.js"></script>
<script type="text/javascript" src="/scripts/Avala.Spine.debug.js"></script>
<script type="text/javascript">
    (function ($, Spine) {
        var model = @Html.Raw(javascriptSerializer.Serialize(Model));
        var config = {};
        Avala.Spine.Stack.init(model, config);
    })(jQuery, Spine);
</script>