﻿@model IEnumerable<Avala.Spine.Web.Models.PersonModel>
@{
    ViewBag.Title = "Basic";
    var javascriptSerializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}

<h2>Basic</h2>

<div id="person-page">
    <a href="#" class="alert-button">Alert Selected</a>
    <table>
        <thead>
            <tr>
                <th></th><th>First Name</th><th>Last Name</th><th>Email Address</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type="text/x-jquery-tmpl" id="person-row-template">
    <td><input type="checkbox" {{if IsSelected}} checked="checked" {{/if}} /></td>
    <td>${FirstName}</td>
    <td>${LastName}</td>
    <td>${EmailAddress}</td>
</script>
<script type="text/javascript" src="/scripts/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/scripts/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="/scripts/spine/spine.js"></script>
<script type="text/javascript" src="/scripts/spine/route.js"></script>
<script type="text/javascript" src="/scripts/Avala.Spine.debug.js"></script>
<script type="text/javascript">
    (function ($, Spine) {
        var model = @Html.Raw(javascriptSerializer.Serialize(Model));
        var config = {};
        Avala.Spine.Basic.init(model, config);
    })(jQuery, Spine);
</script>